<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-coreml" version="1.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginCoreml</name>
    <js-module name="CordovaPluginCoreml" src="www/CordovaPluginCoreml.js">
        <clobbers target="CordovaPluginCoreml" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-ios" version=">=6.1.1" />
    </engines>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPluginCoreml">
                <param name="ios-package" value="CordovaPluginCoreml" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLSchemes ">
            <array>
                <string>coreml</string>
            </array>            
        </config-file>
        <source-file src="src/ios/CordovaPluginCoreml.swift" />
    </platform>
</plugin>